<form action="/cart" method="post">
  <button class="secondary-btn card-btn" type="submit">Add to cart</button>
  <!-- It will be send as part of the request body -->
  <input type= "hidden" name="productId" value="<%= product._id %>">
</form>