<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('shared/head.ejs') %>
</head>


<body>
  <header class="main-header">
    <%- include('shared/nav.ejs') %>
  </header>

  <main>
    <h2>Page was not found</h2>
  </main>
</body>
</html>
