body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  padding: 1rem;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: beige;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;

}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1.5rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: #333333;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  text-decoration: none;
  color: #663cff;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
}

.primary-btn {
  background-color: #663cff;
  color: white;
}

.primary-btn:hover {
  background-color: #472aaf;
}

.secondary-btn {
  background-color: white;
  color: #663cff;
  border: 2px solid #663cff;
}

.secondary-btn:hover {
  color: #472aaf;
  border: 2px solid #472aaf;
  background-color: #e6e0fd;
}