<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../shared/head.ejs') %>
    <link rel="stylesheet" href="/css/card.css">
</head>

<body>
  <header class="main-header">
    <%- include('../shared/nav.ejs') %>
  </header>

  <main>
    <h2>Index</h2>
  </main>
</body>

</html>